<!DOCTYPE HTML>
<html dir="ltr" lang="es">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />	
        <meta name="author" content="Soluciones Corporativas IP, SLU" />
        <meta name="description" content="Este dominio ha sido registrado por medio del agente registrador DonDominio.com" />
        <meta name="keywords" content="parking, dominio, dominios, hosting, almacenamiento, servidores" />
        <meta name="revisit-after" content="10 days" />
        <meta name="robots" content="index, follow, all" />

        <title>Más que Palabras</title>
        
        <style>
            html,body{
                margin:0;
                padding:0;
                height:100%;
                border:none
            }
        </style>
    </head>
    <body>
        <table width="100%" height="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td valign="center" style="text-align:center;vertical-align:middle;margin:0;padding:0;">                    
                    <img alt="logo" src="/images/logo.jpg" style="max-width: 600px;" /><br>
                    <span style="font-family: sans-serif; font-size: 22px;">Próximamente ...</span>
                </td>
            </tr>            
        </table>
    </body>
</html>